<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sonic Muse</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <header>
        <div class="header-left">
            <img src="../static/sm-transparent.png" alt="Sonic Muse Logo">
        </div>
        <nav class="header-right">
            <a href="#">Request Feature</a>
            <button class="signin-btn">Sign in</button>
        </nav>
    </header>

    <main>
        <section id="upload-area">
            <label for="song-file">
                <span>Play my song</span>
                <input type="file" id="song-file" accept="audio/*">
            </label>
        </section>

        <ul id="queue">
            <li class="queue-item">
                <div class="track-info">
                    <div class="track-details">
                        <span class="track-title">New York Vibe</span>
                    </div>
                </div>
                <span class="track-duration">first 0:43</span>
            </li>
        </ul>

        <section id="global-player">
            <div id="current-track">
                <!--                    <img src="track-image-current.jpg" alt="Current Track" class="track-image">-->
                <div class="track-details">
                    <span class="track-title">Title</span>
                    <!--                        <span class="track-genre">Genre</span>-->
                </div>
            </div>

            <div id="audio-player">
                <div id="player-controls">
                    <div id="player-buttons">
                        <div id="previous-button">
                            <button class="player-btn">⏮</button>
                        </div>
                        <div id="play-button">
                            <button class="player-btn">▶</button>
                        </div>
                        <div id="next-button">
                            <button class="player-btn">⏭</button>
                        </div>
                    </div>
                    <div id="volume-controls">
                        <button id="volume-btn">🔊</button>
                        <input type="range" min="0" max="100" value="75" id="volume-slider">
                    </div>
                </div>
                <div id="progress-bar">
                    <div id="time-passed">1</div>
                    <div id="progress">
                        <input type="range" min="0" max="100" value="75" id="time-slider">
                    </div>
                    <div id="duration">2</div>
                </div>
                <audio id="hidden-audio" controls>
                    <source src="../sample-music/kk.mp3" type="audio/mpeg">
                </audio>
            </div>

            <div id="empty-div">

            </div>
        </section>
    </main>

<script src="../js/home.js"></script>
</body>
</html>