* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    height:100%;
}

body {
    font-family: sans-serif;
    background-color: black;
    color: #fff;
    height: 100vh;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    height: 70px;
    z-index: 1;
}

.header-left img {
    height: 50px;
    width: 50px;
}

.header-right a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
}

.signin-btn {
    background-color: #282828;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 20px;
}

/*section,main {*/
/*    border: white 1px solid;*/
/*}*/

#upload-area {
    position: fixed;
    top: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: black;
    z-index: 1;
}

#upload-area input {
    display: none;
}

#upload-area label {
    width: 50%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    border-radius: 1rem;
    background: radial-gradient(circle, #8730d4, #9130d4, #c31cd1, #d430c4, #d43089, #d43066, #d43049);
    color: white;
    font-family: sans-serif;
    transition: all .5s;
    box-shadow: 1px 1px 15px 3px gray;
}

#upload-area label:hover {
    cursor: pointer;
    transform: scale(1.1);
}

main {
    position: absolute;
    top: 170px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#song-details {
    width: 70%;
    height: 100%;
}

#song-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /*border: 1px solid #ccc;*/
    padding: 5px 5px 100px;
    /*padding: 5px;*/
    /*height: fit-content; !* Set a fixed height for scrolling *!*/
    /*overflow-y: auto; !* Enable vertical scrolling *!*/
}

.song-list-item {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #282828;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
}

.song-list-item:hover {
    background-color: #121212;
}

.song-list-item.selected {
    background-color: lightblue; /* Highlight the currently playing song */
}

.track-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#party-details {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

/*.input {*/
/*    position: relative;*/
/*    font-size: 1.5em;*/
/*    background: linear-gradient(21deg, #10abff, #1beabd);*/
/*    padding: 3px;*/
/*    display: inline-block;*/
/*    border-radius: 9999em;*/
/*}*/

/*.input input {*/
/*    position: relative;*/
/*    display: inherit;*/
/*    border-radius: inherit;*/
/*    margin: 0;*/
/*    border: none;*/
/*    outline: none;*/
/*    padding: 0 .325em;*/
/*    z-index: 1;*/
/*    background: white;*/
/*    font-size: 1em;*/
/*    min-width: 12em;*/
/*    color: #2e3750;*/
/*}*/

/*.input input:focus + span {*/
/*    opacity: 1;*/
/*    transform: scale(1);*/
/*}*/

/*!* Glow effect when input is focused *!*/
/*.input span {*/
/*    transform: scale(.993, .94);*/
/*    transition: transform .5s, opacity .25s;*/
/*    opacity: 0;*/

/*    position: absolute;*/
/*    z-index: 0;*/
/*    margin: 4px;*/
/*    left: 0;*/
/*    top: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    border-radius: inherit;*/
/*    pointer-events: none;*/

/*    !* Fancy glow effect *!*/
/*    box-shadow: inset 0 0 0 3px #fff,*/
/*    0 0 0 4px #fff,*/
/*    3px -3px 30px #1beabd,*/
/*    -3px 3px 30px #10abff;*/
/*}*/

/*!* Placeholder styling *!*/
/*::placeholder {*/
/*    color: #cbd0d5;*/
/*}*/

/*!* Join Button *!*/
/*#join-btn {*/
/*    position: absolute;*/
/*    right: -50px; !* Position it near the input *!*/
/*    top: 50%;*/
/*    transform: translateY(-50%) scale(0.9);*/
/*    transition: transform 0.3s ease, opacity 0.2s ease;*/
/*    opacity: 0;*/
/*    background: white;*/
/*    border: none;*/
/*    border-radius: 9999em;*/
/*    padding: 5px 10px;*/
/*    cursor: pointer;*/
/*    font-size: 0.9em;*/
/*}*/

/*!* Button appears when input is focused *!*/
/*.input input:focus + #join-btn {*/
/*    opacity: 1;*/
/*    transform: translateY(-50%) scale(1);*/
/*}*/

#global-player {
    position: fixed;
    bottom: 0;
    background-color: #121212;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100px;
}

#current-track {
    display: flex;
    align-items: center;
}

/*#global-player div {*/
/*    border: 1px solid white;*/
/*}*/

#audio-player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

#player-controls {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#player-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 30%;
}

.player-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

#volume-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
}

#volume-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.2em;
    cursor: pointer;
}

#volume-slider {
    width: 100px;
    accent-color: #ff006e;
}

#progress-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #404040;
    border-radius: 5px;
}

#progress-bar div {
    text-align: center;
}

#time-passed {
    width: 10%;
    text-align: center;
}

#progress {
    width: 80%;
}

#progress input{
    width: 100%;
    accent-color: #ff006e;
    border-radius: 5px;
}

#duration {
    width: 10%;
    text-align: center;
}

#hidden-audio {
    display: none;
}