<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sonic Muse</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <header>
        <div class="header-left">
            <img src="../static/sm-transparent.png" alt="Sonic Muse Logo">
        </div>
        <nav class="header-right">
            <a href="#">Request Feature</a>
            <button class="signin-btn">Sign in</button>
        </nav>
    </header>

    <main>
        <section id="upload-area">
            <label for="file-upload">Upload Song</label>
            <input type="file" id="file-upload" accept="audio/*">
        </section>

        <ul id="queue">
                <li class="queue-item">
                    <div class="track-info">
                        <div class="track-details">
                            <span class="track-title">New York Vibe</span>
                        </div>
                    </div>
                    <span class="track-duration">0:43</span>
                </li><li class="queue-item">
                <div class="track-info">
                    <div class="track-details">
                        <span class="track-title">New York Vibe</span>
                    </div>
                </div>
                <span class="track-duration">0:43</span>
            </li><li class="queue-item">
                <div class="track-info">
                    <div class="track-details">
                        <span class="track-title">New York Vibe</span>
                    </div>
                </div>
                <span class="track-duration">0:43</span>
            </li><li class="queue-item">
                <div class="track-info">
                    <div class="track-details">
                        <span class="track-title">New York Vibe</span>
                    </div>
                </div>
                <span class="track-duration">0:43</span>
            </li><li class="queue-item">
                <div class="track-info">
                    <div class="track-details">
                        <span class="track-title">New York Vibe</span>
                    </div>
                </div>
                <span class="track-duration">0:43</span>
            </li><li class="queue-item">
                <div class="track-info">
                    <div class="track-details">
                        <span class="track-title">New York Vibe</span>
                    </div>
                </div>
                <span class="track-duration">0:43</span>
            </li><li class="queue-item">
                <div class="track-info">
                    <div class="track-details">
                        <span class="track-title">New York Vibe</span>
                    </div>
                </div>
                <span class="track-duration">0:43</span>
            </li><li class="queue-item">
                <div class="track-info">
                    <div class="track-details">
                        <span class="track-title">New York Vibe</span>
                    </div>
                </div>
                <span class="track-duration">0:43</span>
            </li><li class="queue-item">
                <div class="track-info">
                    <div class="track-details">
                        <span class="track-title">New York Vibe</span>
                    </div>
                </div>
                <span class="track-duration">0:43</span>
            </li><li class="queue-item">
                <div class="track-info">
                    <div class="track-details">
                        <span class="track-title">New York Vibe</span>
                    </div>
                </div>
                <span class="track-duration">0:43</span>
            </li><li class="queue-item">
                <div class="track-info">
                    <div class="track-details">
                        <span class="track-title">New York Vibe</span>
                    </div>
                </div>
                <span class="track-duration">0:43</span>
            </li><li class="queue-item">
                <div class="track-info">
                    <div class="track-details">
                        <span class="track-title">New York Vibe</span>
                    </div>
                </div>
                <span class="track-duration">0:43</span>
            </li><li class="queue-item">
                <div class="track-info">
                    <div class="track-details">
                        <span class="track-title">New York Vibe</span>
                    </div>
                </div>
                <span class="track-duration">0:43</span>
            </li><li class="queue-item">
                <div class="track-info">
                    <div class="track-details">
                        <span class="track-title">New York Vibe</span>
                    </div>
                </div>
                <span class="track-duration">0:43</span>
            </li><li class="queue-item">
                <div class="track-info">
                    <div class="track-details">
                        <span class="track-title">New York Vibe</span>
                    </div>
                </div>
                <span class="track-duration">0:43</span>
            </li><li class="queue-item">
                <div class="track-info">
                    <div class="track-details">
                        <span class="track-title">New York Vibe</span>
                    </div>
                </div>
                <span class="track-duration">0:43</span>
            </li><li class="queue-item">
                <div class="track-info">
                    <div class="track-details">
                        <span class="track-title">New York Vibe</span>
                    </div>
                </div>
                <span class="track-duration">0:43</span>
            </li><li class="queue-item">
                <div class="track-info">
                    <div class="track-details">
                        <span class="track-title">New York Vibe</span>
                    </div>
                </div>
                <span class="track-duration">0:43</span>
            </li><li class="queue-item">
                <div class="track-info">
                    <div class="track-details">
                        <span class="track-title">New York Vibe</span>
                    </div>
                </div>
                <span class="track-duration">0:43</span>
            </li><li class="queue-item">
                <div class="track-info">
                    <div class="track-details">
                        <span class="track-title">New York Vibe</span>
                    </div>
                </div>
                <span class="track-duration">0:43</span>
            </li><li class="queue-item">
                <div class="track-info">
                    <div class="track-details">
                        <span class="track-title">New York Vibe</span>
                    </div>
                </div>
                <span class="track-duration">0:43</span>
            </li><li class="queue-item">
                <div class="track-info">
                    <div class="track-details">
                        <span class="track-title">New York Vibe</span>
                    </div>
                </div>
                <span class="track-duration">0:43</span>
            </li><li class="queue-item">
                <div class="track-info">
                    <div class="track-details">
                        <span class="track-title">New York Vibe</span>
                    </div>
                </div>
                <span class="track-duration">0:43</span>
            </li><li class="queue-item">
                <div class="track-info">
                    <div class="track-details">
                        <span class="track-title">New York Vibe</span>
                    </div>
                </div>
                <span class="track-duration">0:43</span>
            </li><li class="queue-item">
                <div class="track-info">
                    <div class="track-details">
                        <span class="track-title">New York Vibe</span>
                    </div>
                </div>
                <span class="track-duration">0:43</span>
            </li><li class="queue-item">
                <div class="track-info">
                    <div class="track-details">
                        <span class="track-title">New York Vibe</span>
                    </div>
                </div>
                <span class="track-duration">0:43</span>
            </li><li class="queue-item">
                <div class="track-info">
                    <div class="track-details">
                        <span class="track-title">New York Vibe</span>
                    </div>
                </div>
                <span class="track-duration">0:43</span>
            </li><li class="queue-item">
                <div class="track-info">
                    <div class="track-details">
                        <span class="track-title">New York Vibe</span>
                    </div>
                </div>
                <span class="track-duration">0:43</span>
            </li><li class="queue-item">
                <div class="track-info">
                    <div class="track-details">
                        <span class="track-title">New York Vibe</span>
                    </div>
                </div>
                <span class="track-duration">0:43</span>
            </li>
                <li class="queue-item">
                    <div class="track-info">
                        <div class="track-details">
                            <span class="track-title">New York Vibe</span>
                        </div>
                    </div>
                    <span class="track-duration">0:43</span>
                </li> <li class="queue-item">
                <div class="track-info">
                    <div class="track-details">
                        <span class="track-title">New York Vibe</span>
                    </div>
                </div>
                <span class="track-duration">0:43</span>
            </li> <li class="queue-item">
                <div class="track-info">
                    <div class="track-details">
                        <span class="track-title">New York Vibe</span>
                    </div>
                </div>
                <span class="track-duration">0:43</span>
            </li> <li class="queue-item">
                <div class="track-info">
                    <div class="track-details">
                        <span class="track-title">New York Vibe</span>
                    </div>
                </div>
                <span class="track-duration">0:43</span>
            </li> <li class="queue-item">
                <div class="track-info">
                    <div class="track-details">
                        <span class="track-title">New York Vibe</span>
                    </div>
                </div>
                <span class="track-duration">0:43</span>
            </li> <li class="queue-item">
                <div class="track-info">
                    <div class="track-details">
                        <span class="track-title">New York Vibe</span>
                    </div>
                </div>
                <span class="track-duration">0:43</span>
            </li> <li class="queue-item">
                <div class="track-info">
                    <div class="track-details">
                        <span class="track-title">New York Vibe</span>
                    </div>
                </div>
                <span class="track-duration">0:43</span>
            </li> <li class="queue-item">
                <div class="track-info">
                    <div class="track-details">
                        <span class="track-title">New York Vibe</span>
                    </div>
                </div>
                <span class="track-duration">0:43</span>
            </li> <li class="queue-item">
                <div class="track-info">
                    <div class="track-details">
                        <span class="track-title">New York Vibe</span>
                    </div>
                </div>
                <span class="track-duration">0:43</span>
            </li> <li class="queue-item">
                <div class="track-info">
                    <div class="track-details">
                        <span class="track-title">New York Vibe</span>
                    </div>
                </div>
                <span class="track-duration">0:43</span>
            </li> <li class="queue-item">
                <div class="track-info">
                    <div class="track-details">
                        <span class="track-title">New York Vibe</span>
                    </div>
                </div>
                <span class="track-duration">0:43</span>
            </li> <li class="queue-item">
                <div class="track-info">
                    <div class="track-details">
                        <span class="track-title">New York Vibe</span>
                    </div>
                </div>
                <span class="track-duration">0:43</span>
            </li> <li class="queue-item">
                <div class="track-info">
                    <div class="track-details">
                        <span class="track-title">New York Vibe</span>
                    </div>
                </div>
                <span class="track-duration">0:43</span>
            </li> <li class="queue-item">
                <div class="track-info">
                    <div class="track-details">
                        <span class="track-title">New York Vibe</span>
                    </div>
                </div>
                <span class="track-duration">last0:43</span>
            </li>
        </ul>
    </main>

    <footer id="global-player">
        <div id="current-track">
            <!--                    <img src="track-image-current.jpg" alt="Current Track" class="track-image">-->
            <div class="track-details">
                <span class="track-title">Title</span>
                <!--                        <span class="track-genre">Genre</span>-->
            </div>
        </div>

        <audio id="audio-player" controls>
            <source src="" type="audio/mpeg">
        </audio>
    </footer>

<!--            <div id="audio-player">-->
<!--                <div id="player-controls">-->
<!--                    <div id="player-buttons">-->
<!--                        <button class="player-btn">⏮</button>-->
<!--                        <button class="player-btn">▶</button>-->
<!--                        <button class="player-btn">⏭</button>-->
<!--                    </div>-->
<!--                    <div id="volume-controls">-->
<!--                        <button id="volume-btn">🔊</button>-->
<!--                        <input type="range" min="0" max="100" value="75" id="volume-slider">-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div id="progress-bar">-->
<!--                    <div id="time-passed"></div>-->
<!--                    <div id="progress"></div>-->
<!--                    <div id="duration"></div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="empty-area">-->

<!--            </div>-->

<script src="script.js"></script>
</body>
</html>