<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Sonic Muse</title>
    <link rel="stylesheet" href="landing.css"/>
</head>
<body>

    <main class="container">
        <section id="description" class="container">
            <h1>Sonic Muse</h1>
            <p>Host vibrant virtual music parties with friends, sharing and enjoying your favorite tracks together.</p>
        </section>

        <section id="enter-party" class="container">
            <div id="party-form">
                <label for="partyId">Party Id</label>
                <input id="partyId">
                <div id="join-btn" class="container">
                    <a href="../templates/home.html"><h1>Letz Party</h1></a>
                    <a href="../templates/home.html"><img id="arrow" src="../static/arrow-up-right.svg" alt=""></a>
                </div>
            </div>
        </section>
    </main>

</body>
</html>