<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Sonic Muse</title>
    <link rel="stylesheet" href="landing.css"/>
</head>
<body>

    <main class="container">
        <section id="description" class="container">
            <h1>Sonic Muse</h1>
            <p>Host vibrant virtual music parties with friends, sharing and enjoying your favorite tracks together.</p>
        </section>

    </main>

    <script src="../js/landing.js"></script>
</body>
</html>