<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Sonic Muse</title>
    <link rel="stylesheet" href="sonic-muse.css"/>
</head>
<body>

    <main class="container">
        <section id="description" class="container">
    <!--        give linear gradient of pink red purple-->
            <h1>Sonic Muse</h1>

            <p>Host vibrant virtual music parties with friends, sharing and enjoying your favorite tracks together.</p>
        </section>

        <section id="enter" class="container">
            <a href=""><h1>Letz Party</h1></a>
            <a href=""><img id="arrow" src="../static/arrow-up-right.svg" alt=""></a>
        </section>
    </main>

</body>
</html>